input,
textarea,
button,
select,
a,
div,
svg{
    -webkit-tap-highlight-color: transparent; /* Убирает синее свчение в моб версии */
}

/*input:-webkit-autofill::first-line { !* Для правки стилей автозаполнения *!*/
/*    font-family: Montserrat-Regular, sans-serif !important;*/
/*    font-size: 16px !important;*/
/*}*/

.green_grid_block {
    padding-left: 72px;
    padding-right: 72px;
}

.green_grid_btn {
    width: max-content;
    min-width: 330px;
}

@media (min-width: 1289px) {
    .green_grid_block {
        padding: 72px 180px 72px 180px;
    }
}

@media (max-width: 590px) {
    .green_grid_block {
        padding: 32px 51px 32px 51px;
    }
    .green_grid_btn {
        width: 100%;
        min-width: 300px;
    }
}
