input,
textarea,
button,
select,
a,
div,
svg{
    -webkit-tap-highlight-color: transparent; /* Убирает синее свчение в моб версии */
}

/** {*/
/*    overflow-x: hidden;*/
/*}*/

/** { !* Скрываем скролл *!*/
/*    -ms-overflow-style: none;  !* Internet Explorer 10+ *!*/
/*    scrollbar-width: none;  !* Firefox *!*/
/*}*/
/**::-webkit-scrollbar {*/
/*    display: none;  !* Safari and Chrome *!*/
/*}*/

/*input:-webkit-autofill { !* Для правки стилей автозаполнения *!*/
/*    font-family: Montserrat-Regular, sans-serif !important;*/
/*    font-size: 16px !important;*/
/*}*/

/* Убираем стрелочки для input с id юзера */
input[name="id_user"]::-webkit-outer-spin-button,
input[name="id_user"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[name="id_user"]{
    -moz-appearance: textfield;
}


.green_grid_block {
    padding-left: 72px;
    padding-right: 72px;
}

.green_grid_btn {
    width: max-content;
    min-width: 330px;
}

@media (min-width: 1289px) {
    .green_grid_block {
        padding: 72px 180px 72px 180px;
    }
}

@media (max-width: 590px) {
    .green_grid_block {
        padding: 32px 51px 32px 51px;
    }
    .green_grid_btn {
        width: 100%;
        min-width: 300px;
    }
}
