      <div class="relative w-full grid grid-rows-6">
          <!-- Carousel wrapper -->
          <div class="row-span-5 relative h-[600px] overflow-hidden">
               <!-- Item 1 -->
              <div id="carousel-item-1" class="hidden duration-700 ease-in-out grid grid-cols-2 grid-rows-2 gap-4">
                <div class="grid grid-rows-6 gap-1 bg-white rounded-3xl shadow-md p-5">
                  <div class="row-span-2 grid grid-rows-2 gap-8 pb-4">
                    <span class="font-montserrat-light">12 декабря 2022</span>
                    <span class="font-montserrat-semibold">AndryPop</span>
                    <span class="font-montserrat-semibold pt-4">Хорошая партнерка для долгосрочной работы.</span>
                  </div>
                  <span class="font-montserrat row-span-4 pt-8">Начал работать с партнеркой более полугода назад. Показалась мне одной из лучших по гемблингу и до сих пор ее такой вижу. В партнерки нашел для себя такой плюс, как сильное комьюните. Поскольку не берут новичков, в общем чате можно найти только действительно мыслящих вэбмастеров, к которым можно обратиться и тебе помогут, это я считаю очень хороший плюс, который повышает твою цену, как профиссионала... <span class="text-lime-500 underline">Читать полностью</span></span>
                </div>
                <div class="grid grid-rows-6 gap-1 bg-white rounded-3xl shadow-md p-5">
                  <div class="row-span-2 grid grid-rows-2 gap-8 pb-4">
                    <span class="font-montserrat-light">12 декабря 2022</span>
                    <span class="font-montserrat-semibold">AndryPop</span>
                    <span class="font-montserrat-semibold pt-4">Хорошая партнерка для долгосрочной работы.</span>
                  </div>
                  <span class="font-montserrat row-span-4 pt-8">Начал работать с партнеркой более полугода назад. Показалась мне одной из лучших по гемблингу и до сих пор ее такой вижу. В партнерки нашел для себя такой плюс, как сильное комьюните. Поскольку не берут новичков, в общем чате можно найти только действительно мыслящих вэбмастеров, к которым можно обратиться и тебе помогут, это я считаю очень хороший плюс, который повышает твою цену, как профиссионала... <span class="text-lime-500 underline">Читать полностью</span></span>
                </div>
                <div class="grid grid-rows-6 gap-1 bg-white rounded-3xl shadow-md p-5">
                  <div class="row-span-2 grid grid-rows-2 gap-8 pb-4">
                    <span class="font-montserrat-light">12 декабря 2022</span>
                    <span class="font-montserrat-semibold">AndryPop</span>
                    <span class="font-montserrat-semibold pt-4">Хорошая партнерка для долгосрочной работы.</span>
                  </div>
                  <span class="font-montserrat row-span-4 pt-8">Начал работать с партнеркой более полугода назад. Показалась мне одной из лучших по гемблингу и до сих пор ее такой вижу. В партнерки нашел для себя такой плюс, как сильное комьюните. Поскольку не берут новичков, в общем чате можно найти только действительно мыслящих вэбмастеров, к которым можно обратиться и тебе помогут, это я считаю очень хороший плюс, который повышает твою цену, как профиссионала... <span class="text-lime-500 underline">Читать полностью</span></span>
                </div>
                <div class="grid grid-rows-6 gap-1 bg-white rounded-3xl shadow-md p-5">
                  <div class="row-span-2 grid grid-rows-2 gap-8 pb-4">
                    <span class="font-montserrat-light">12 декабря 2022</span>
                    <span class="font-montserrat-semibold">AndryPop</span>
                    <span class="font-montserrat-semibold pt-4">Хорошая партнерка для долгосрочной работы.</span>
                  </div>
                  <span class="font-montserrat row-span-4 pt-8">Начал работать с партнеркой более полугода назад. Показалась мне одной из лучших по гемблингу и до сих пор ее такой вижу. В партнерки нашел для себя такой плюс, как сильное комьюните. Поскольку не берут новичков, в общем чате можно найти только действительно мыслящих вэбмастеров, к которым можно обратиться и тебе помогут, это я считаю очень хороший плюс, который повышает твою цену, как профиссионала... <span class="text-lime-500 underline">Читать полностью</span></span>
                </div>
              </div>
              <!-- Item 2 -->
              <div id="carousel-item-2" class="hidden duration-700 ease-in-out grid grid-cols-2 grid-rows-2 gap-4">
                <div class="grid grid-rows-6 gap-1 bg-white rounded-3xl shadow-md p-5">
                  <div class="row-span-2 grid grid-rows-2 gap-8 pb-4">
                    <span class="font-montserrat-light">12 декабря 2022</span>
                    <span class="font-montserrat-semibold">AndryPop</span>
                    <span class="font-montserrat-semibold pt-4">Хорошая партнерка для долгосрочной работы.</span>
                  </div>
                  <span class="font-montserrat row-span-4 pt-8">Начал работать с партнеркой более полугода назад. Показалась мне одной из лучших по гемблингу и до сих пор ее такой вижу. В партнерки нашел для себя такой плюс, как сильное комьюните. Поскольку не берут новичков, в общем чате можно найти только действительно мыслящих вэбмастеров, к которым можно обратиться и тебе помогут, это я считаю очень хороший плюс, который повышает твою цену, как профиссионала... <span class="text-lime-500 underline">Читать полностью</span></span>
                </div>
                <div class="grid grid-rows-6 gap-1 bg-white rounded-3xl shadow-md p-5">
                  <div class="row-span-2 grid grid-rows-2 gap-8 pb-4">
                    <span class="font-montserrat-light">12 декабря 2022</span>
                    <span class="font-montserrat-semibold">AndryPop</span>
                    <span class="font-montserrat-semibold pt-4">Хорошая партнерка для долгосрочной работы.</span>
                  </div>
                  <span class="font-montserrat row-span-4 pt-8">Начал работать с партнеркой более полугода назад. Показалась мне одной из лучших по гемблингу и до сих пор ее такой вижу. В партнерки нашел для себя такой плюс, как сильное комьюните. Поскольку не берут новичков, в общем чате можно найти только действительно мыслящих вэбмастеров, к которым можно обратиться и тебе помогут, это я считаю очень хороший плюс, который повышает твою цену, как профиссионала... <span class="text-lime-500 underline">Читать полностью</span></span>
                </div>
                <div class="grid grid-rows-6 gap-1 bg-white rounded-3xl shadow-md p-5">
                  <div class="row-span-2 grid grid-rows-2 gap-8 pb-4">
                    <span class="font-montserrat-light">12 декабря 2022</span>
                    <span class="font-montserrat-semibold">AndryPop</span>
                    <span class="font-montserrat-semibold pt-4">Хорошая партнерка для долгосрочной работы.</span>
                  </div>
                  <span class="font-montserrat row-span-4 pt-8">Начал работать с партнеркой более полугода назад. Показалась мне одной из лучших по гемблингу и до сих пор ее такой вижу. В партнерки нашел для себя такой плюс, как сильное комьюните. Поскольку не берут новичков, в общем чате можно найти только действительно мыслящих вэбмастеров, к которым можно обратиться и тебе помогут, это я считаю очень хороший плюс, который повышает твою цену, как профиссионала... <span class="text-lime-500 underline">Читать полностью</span></span>
                </div>
                <div class="grid grid-rows-6 gap-1 bg-white rounded-3xl shadow-md p-5">
                  <div class="row-span-2 grid grid-rows-2 gap-8 pb-4">
                    <span class="font-montserrat-light">12 декабря 2022</span>
                    <span class="font-montserrat-semibold">AndryPop</span>
                    <span class="font-montserrat-semibold pt-4">Хорошая партнерка для долгосрочной работы.</span>
                  </div>
                  <span class="font-montserrat row-span-4 pt-8">Начал работать с партнеркой более полугода назад. Показалась мне одной из лучших по гемблингу и до сих пор ее такой вижу. В партнерки нашел для себя такой плюс, как сильное комьюните. Поскольку не берут новичков, в общем чате можно найти только действительно мыслящих вэбмастеров, к которым можно обратиться и тебе помогут, это я считаю очень хороший плюс, который повышает твою цену, как профиссионала... <span class="text-lime-500 underline">Читать полностью</span></span>
                </div>
              </div>
          </div>
          <div class="grid grid-cols-6 w-44 items-center place-self-center">
              <!-- Slider controls -->
              <button id="data-carousel-prev" type="button" class="col-span-2 cursor-pointer group justify-self-start">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="group-hover:stroke-lime-500" d="M18 12L6 12M6 12L11 17M6 12L11 7" stroke="#1F2227" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </button>
              <!-- Slider indicators -->
              <div class="grid grid-cols-2 justify-items-center gap-7">
                <button id="carousel-indicator-1" type="button" class="w-4 h-4 rounded-full" aria-current="true"></button>
                <button id="carousel-indicator-2" type="button" class="w-4 h-4 rounded-full" aria-current="false"></button>
              </div>
              <!-- Slider controls -->
              <button id="data-carousel-next" type="button" class="col-span-2 cursor-pointer group justify-self-end">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="group-hover:stroke-lime-500" d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#1F2227" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </button>
          </div>
      </div>