{% macro green_grid_block(header='', description='', button='') %}
    <div class="bg-lime-light-custom bg-[url('/source/static/images/main/bg_green_grid.png')] bg-no-repeat bg-cover bg-right mt-32">
        <section class="flex flex-col sm-custom:gap-y-8 gap-y-3 green_grid_block py-20">
            <h2 class="sm-custom:text-h2 text-semibold-20-600-L28">{{ header|safe }}</h2>
            <span class="sm-custom:text-regular-18-400-L28 text-regular-16-400-L24">{{ description|safe }}</span>
            <button class="btn-black sm-custom:mt-6 mt-3 green_grid_btn !px-0">{{ button|safe }}</button>
        </section>
    </div>
{% endmacro %}
