{% macro in_end_body(name_page='') %}
    <script type="text/javascript" src="{{ url_for('static', path='/frameworks/flowbite.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/frameworks/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/frameworks/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', path='/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/plugins/flickity/flickity.pkgd.min.js') }}"></script>
    {% if name_page %}
        <script type="module" src="/source/static/js/{{name_page}}.js"></script>
    {% endif %}
    <script type="module" src="/source/static/js/navbar.js"></script>
{% endmacro %}