<html lang="ru">
  {% include 'components/head.html' %}
  <body class="bg-gray-light-custom">
    {% include 'components/navbar.html' %}
    <div class="sm-custom:pt-48 pt-32 lg-2.5-custom:mx-33 mx-5">
        <section class="bg-lime-light-custom bg-[url('/source/static/images/main/bg_green_grid.png')] bg-no-repeat bg-cover bg-right rounded-4xl shadow-lg flex flex-col sm-custom:gap-y-8 gap-y-3 sm-custom:py-11.5 sm-custom:px-14 py-8 px-8">
            <h1 class="sm-custom:text-h1 text-semibold-28-600-L36">Контакты</h1>
            <span class="sm-custom:text-regular-18-400-L28 text-regular-14-400-L20">Собрали в одном месте информацию, которая поможет связаться <br class="sm-custom-max:hidden">с нами, присоединиться к сообществу единомышленников и дружить <br class="sm-custom-max:hidden">с нами в соцсетях</span>
        </section>
    </div>
    <div class="lg-2.5-custom:mx-46 sm-custom:mx-12 mx-12 sm-custom:mt-32 mt-16 flex flex-col sm-custom:gap-y-24 gap-y-16">
        <section class="flex flex-col gap-y-12">
            <h2 class="sm-custom:text-h2 text-semibold-26-600-L36">Написать в Telegram</h2>
            {% include 'components/contacts.html' %}
        </section>
        <section class="flex flex-col gap-y-6">
            <h2 class="sm-custom:text-h2 text-semibold-20-600-L28">Связаться с поддержкой</h2>
            <span class="sm-custom:text-regular-16-400-L24 text-regular-14-400-L20 text-stone-custom pb-6">Зарегистрируйся в боте, чтобы смотреть статистику по офферам, не заходя на платформу <br class="sm-custom-max:hidden">CPACASH, подключать офферы, заказывать выплаты и связываться с поддержкой.</span>
            <div class="flex lg-1.5-custom:flex-row flex-col gap-6">
                <div class="lg-1.5-custom:basis-1/3 flex flex-row items-center gap-x-3 rounded-4xl bg-white shadow-lg p-6">
                    <div class="w-[78px] sm-custom-max:w-[44px] flex-none">
                        <img src='/source/static/images/main/tg_avatar.png'>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <span class="sm-custom:text-regular-16-400-L24 text-regular-14-400-L20">Личный кабинет в боте</span>
                        <a href="https://telegram.me/cpacashbot" class="lime-url sm-custom:text-regular-16-400-L24--c text-regular-14-400-L20--c">@cpacashbot</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex flex-col gap-y-6">
            <h2 class="sm-custom:text-h2 text-semibold-20-600-L28">Задать вопрос в чате</h2>
            <span class="sm-custom:text-regular-16-400-L24 text-regular-14-400-L20 text-stone-custom pb-6">Помогаем друг другу, шутим и обсуждаем новости арбитража. <br class="sm-custom-max:hidden">Присоединяйся — тебя не хватает.</span>
            <div class="flex lg-1.5-custom:flex-row flex-col gap-6">
                <div class="lg-1.5-custom:basis-1/3 flex flex-row items-center gap-x-3 rounded-4xl bg-white shadow-lg p-6">
                    <div class="w-[78px] sm-custom-max:w-[44px] flex-none">
                        <img src='/source/static/images/main/tg_avatar.png'>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <span class="sm-custom:text-regular-16-400-L24 text-regular-14-400-L20">Уютный чат CPACASH</span>
                        <a href="https://telegram.me/Cpacash_Chat" class="lime-url sm-custom:text-regular-16-400-L24--c text-regular-14-400-L20--c">@Cpacash_Chat</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex flex-col gap-y-12">
            <h2 class="sm-custom:text-h2 text-semibold-20-600-L28">Написать на почту</h2>
            <div class="flex lg-1.5-custom:flex-row flex-col gap-6">
                <div class="lg-1.5-custom:basis-1/3 flex flex-row items-center gap-x-3 rounded-4xl bg-white shadow-lg p-6">
                    <div class="w-[78px] sm-custom-max:w-[44px] flex-none">
                        <img src='/source/static/images/main/tg_avatar.png'>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <span class="sm-custom:text-regular-16-400-L24 text-regular-14-400-L20">HR</span>
                        <a href="mailto:hr@cpacash.pro" class="lime-url sm-custom:text-regular-16-400-L24--c text-regular-14-400-L20--c">hr@cpacash.pro</a>
                    </div>
                </div>
                <div class="lg-1.5-custom:basis-1/3 flex flex-row items-center gap-x-3 rounded-4xl bg-white shadow-lg p-6">
                    <div class="w-[78px] sm-custom-max:w-[44px] flex-none">
                        <img src='/source/static/images/main/tg_avatar.png'>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <span class="sm-custom:text-regular-16-400-L24 text-regular-14-400-L20">По любым вопросам</span>
                        <a href="mailto:hello@cpacash.pro" class="lime-url sm-custom:text-regular-16-400-L24--c text-regular-14-400-L20--c">hello@cpacash.pro</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'components/footer.html' %}
  </body>
</html>