<!DOCTYPE html>
<html lang="ru">
    {% include 'components/head.html' %}
    <body class="bg-[url('/source/static/images/main/bg_green_s.png')] bg-right-top bg-no-repeat bg-gray-100">
        {% include 'components/navbar.html' %}
        <div class="mx-24 mt-6">
            <section class="flex flex-col items-center bg-lime-10 rounded-3xl px-[34rem] py-16">
                <span class="font-montserrat-semibold text-2xl pb-12">Восстановление пароля</span>
                <span class="font-montserrat text-lg text-center">Введите email, чтобы получить на него ссылку для восстановления пароля</span>
                <input class="mt-10 rounded-full w-full focus:ring-0 focus:border-1 focus:border-lime-500 focus:text-lime-500" type="text" placeholder="Укажите Email">
                <button class="btn-black w-[30rem] py-4 font-montserrat-semibold text-xl rounded-full mt-16">Получить ссылку</button>
            </section>
        </div>
         {% include 'components/footer.html' %}
    </body>
</html>