<div class="grid grid-rows-2">
    <div class="flex flex-col gap-y-6">
        <span class="text-semibold-20-600-L28">Аккаунт-менеджеры</span>
        <div class="flex flex-row gap-y-6">
            <div class="flex flex-row rounded-4xl bg-white shadow-lg p-6">
                <div>
                    <img src='/source/static/images/main/tg_avatar.png'>
                </div>
                <div class="flex flex-col">
                    <span class="text-regular-16-400-L24">Александр</span>
                    <a href="https://telegram.me/Alexander_Cpacash" class="lime-url text-regular-16-400-L24--c">@Alexander_Cpacash</a>
                </div>
            </div>
            <div class="grid grid-rows-2 grid-cols-6 rounded-3xl bg-white shadow-lg py-6">
                <img class="col-span-2 row-span-2 w-2/5 justify-self-center" src='/source/static/images/main/tg_avatar.png'>
                <span class="col-start-3 col-span-4 font-montserrat text-lg self-center justify-self-start">Екатерина</span>
                <a href="https://telegram.me/Ekaterina_CpaCashpro" class="col-start-3 row-start-2 col-span-4 font-montserrat lime-url justify-self-start">@Alexander_Cpacash</a>
            </div>
            <div class="grid grid-rows-2 grid-cols-6 rounded-3xl bg-white shadow-lg py-6">
                <img class="col-span-2 row-span-2 w-2/5 justify-self-center" src='/source/static/images/main/tg_avatar.png'>
                <span class="col-start-3 col-span-4 font-montserrat text-lg self-center justify-self-start">Андрей</span>
                <a href="https://telegram.me/Alexander_Cpacash" class="col-start-3 row-start-2 col-span-4 font-montserrat lime-url justify-self-start">@Alexander_Cpacash</a>
            </div>
        </div>
        <span class="font-montserrat-bold text-xl">Рекламодателям</span>
        <div class="grid grid-cols-3 gap-x-10 pt-10">
            <div class="grid grid-rows-2 grid-cols-6 rounded-3xl bg-white shadow-lg py-6">
                <img class="col-span-2 row-span-2 w-2/5 justify-self-center" src='/source/static/images/main/tg_avatar.png'>
                <span class="col-start-3 col-span-4 font-montserrat text-lg self-center justify-self-start">Павел</span>
                <a href="https://telegram.me/cpacash_pavel" class="col-start-3 row-start-2 col-span-4 font-montserrat lime-url justify-self-start">@cpacash_pavel</a>
            </div>
            <div class="grid grid-rows-2 grid-cols-6 rounded-3xl bg-white shadow-lg py-6">
                <img class="col-span-2 row-span-2 w-2/5 justify-self-center" src='/source/static/images/main/tg_avatar.png'>
                <span class="col-start-3 col-span-4 font-montserrat text-lg self-center justify-self-start">CEO / Михаил</span>
                <a href="https://telegram.me/cpaexpert" class="col-start-3 row-start-2 col-span-4 font-montserrat lime-url justify-self-start">@cpaexpert</a>
            </div>
            <div class="grid grid-rows-2 grid-cols-6 rounded-3xl bg-white shadow-lg py-6">
                <img class="col-span-2 row-span-2 w-2/5 justify-self-center" src='/source/static/images/main/tg_avatar.png'>
                <span class="col-start-3 col-span-4 font-montserrat text-lg self-center justify-self-start">PR, маркетинг / Михаил</span>
                <a href="https://telegram.me/cpaexpert" class="col-start-3 row-start-2 col-span-4 font-montserrat lime-url justify-self-start">@cpaexpert</a>
            </div>
        </div>
    </div>
</div>